<% define_template "subrecord_mandate", jsonmodel_definition(:mandate) do |form| %>
  <div class="subrecord-form-fields">
    <%= render_aspace_partial :partial => "mandates/linker", :locals => { :form => form }%>
  </div>
<% end %>
