<%
  section_id = "functions" if section_id.blank?
%>

<section id="<%= section_id %>" class="subrecord-form-dummy">
  <h3><%= I18n.t("function._plural") %></h3>
  <div class="subrecord-form-container">
    <div class="subrecord-form-fields">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="col-xs-12"><%= I18n.t('function._singular') %></th>
          </tr>
        </thead>
        <tbody>
          <% functions.each_with_index do | function, index | %>
            <tr>
              <td>
                <div class="col-xs-6 token-list">
                <%= render_token :object => function['_resolved'],
                                 :label => function['_resolved']['title'],
                                 :type => "function",
                                 :uri => function['ref'] %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
